nav {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid #FFE81F;
}

.links{
  display: flex;
  justify-content: center;
  align-items:end;
}

.links li {
  list-style: none;
  margin-right: 3em;
  margin-bottom: 1em;
}

.links a {
  color: #FFF;
  text-align: center;
  font-family: Star Jedi;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 79.57%;
}

.links a:hover {
  color: #FFE81F;
}

