<div class="about">
  <img src="/assets/Star_Wars_Logo.png" alt="Star Wars">

  <h3 class="episode">Episode I</h3>
  <h3 class="title">The beginning of development </h3>
  <p class="text">
    This project has deveploment for trainning the concepts about development web, using Angular and Java with Spring Boot. The project was created based on the challenge proposed in <a href="https://github.com/AmeDigital/challenge-back-end-hit">github.com/AmeDigital/challenge-back-end-hit</a>, where the idea was to create a CRUD capable of working with information from the <a href="https://swapi.co/">https://swapi.co/</a>.
  </p>
  <p>
    I decided to create the front-end of the application to have the complete project. And that was the end result, I hope you like it and... May the Force be with you, always.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et pulvinar urna, sed tristique quam. Nunc non quam ullamcorper, semper enim sit amet, pretium urna. Suspendisse eget vehicula eros. Nam vulputate massa ut gravida facilisis. Nulla ut vulputate lacus. Curabitur suscipit, velit vitae fringilla fermentum, mi ligula tincidunt dui, id auctor risus erat ac tellus.
  </p>
  <p>
    Donec velit velit, sollicitudin et tortor eu, sagittis fringilla velit. Mauris venenatis, lectus eget scelerisque pulvinar, purus nisi accumsan augue, nec aliquam ligula felis at ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque quis purus vel nunc tristique lobortis non non dui. Quisque id interdum risus. Maecenas ac.
  </p>
  <p>
    Fusce pellentesque ligula et pulvinar ultrices. Mauris pharetra placerat nulla ac hendrerit. Duis et accumsan nunc, ac ultricies mauris. Praesent suscipit sit amet ante vitae posuere. Curabitur hendrerit in libero vel interdum. Nulla feugiat ultricies porttitor. Sed non dui auctor, sodales est non, tempus sem. Nullam a massa nisi.
  </p>
</div>
